Managers/Messages/*.c linguist-language=C
Managers/Messages/*.h linguist-language=C
Managers/Brightness/*.m linguist-language=Objective-C
Managers/Brightness/*.h linguist-language=Objective-C
Shaders/*.metal linguist-language=Metal
