<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>ComfyNotch</string>
    <key>CFBundleDisplayName</key>
    <string>ComfyNotch</string>
    <key>CFBundleIdentifier</key>
    <string>com.yourname.ComfyNotch</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleExecutable</key>
    <string>ComfyNotch</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>CFBundleIconFile</key>
    <string>ComfyNotchIcon</string>

    <!-- Privacy Description -->
    <key>NSCameraUsageDescription</key>
    <string>ComfyNotch needs access to the camera for widget functionalities.</string>

    <key>NSCameraUseContinuityCameraDeviceType</key>
    <true/>
</dict>
</plist>
