<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIconFile</key>
    <string>ComfyNotchIcon</string>

    <!-- Camera Usage Description -->
    <key>NSCameraUseContinuityCameraDeviceType</key>
    <true/>

    <!-- EventKit stuff -->

    <key>NSCalendarsFullAccessUsageDescription</key>
    <string>we need access to your calendar for easier management</string>
    
    <key>NSCalendarsUsageDescription</key>
    <string>I use this to show your events in ComfyNotch</string>

    <key>NSRemindersFullAccessUsageDescription</key>
    <string>we need access to your reminders for easier management</string>

    <!-- Contacts Usage Description-->
    <key>NSContactsUsageDescription</key>
    <string>ComfyNotch needs access to your contacts to show names in Messages.</string>

    <key>SUEnableInstallerLauncherService</key>
    <true/>

    <!-- Sparkle Stuff <-->
    <key>SUFeedURL</key>
    <!-- This is what its looking for updates in github <-->
    <string>https://aryanrogye.github.io/ComfyNotch/appcast.xml</string>

    <key>SUPublicEDKey</key>
    <string>taI+LYHIWwzdMURizdr5HG9kfibtBtqxnman2PKkZSU=</string>

    <key>NSRequiresAquaSystemAppearance</key>
    <false/>

</dict>
</plist>
